.message {
    padding :10px;
    margin: 10px;
    width : fit-content;
   
    
    
}
.message__user{
    margin-left: auto ;
    color: white !important;
    text-align: left !important;
}
.message__userCard{
    background-color: #6950af !important;
    color: white !important;
}
.message__guestCard{
    background-color: rgb(31, 30, 30) !important;
    color: white !important;
}